app
db
flask
flask-cors
flask-httpauth
flask-marshmallow
flask-restful
flask-sqlalchemy
pytest
pytest-flask
pytest-flask-sqlalchemy
pytest-html
pytest-xvfb
requests
sqlalchemy
tinydb
validators
Flask-BasicAuth